<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>911936545085-maem0jl6k8tql3k2eel5hef3dp54ate9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.911936545085-maem0jl6k8tql3k2eel5hef3dp54ate9</string>
	<key>API_KEY</key>
	<string>AIzaSyD0yGV5cTEJlTAOqXZ-BS5rqtN9Jx2KSaw</string>
	<key>GCM_SENDER_ID</key>
	<string>911936545085</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.JemaraSmith.HairBeau11</string>
	<key>PROJECT_ID</key>
	<string>hairbeau11-6c374</string>
	<key>STORAGE_BUCKET</key>
	<string>hairbeau11-6c374.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:911936545085:ios:a56013ea84589934256554</string>
</dict>
</plist>